sudo apt update
sudo apt install curl
curl -fsS https://dl.brave.com/install.sh | sh
curl -fsSL https://deb.nodesource.com/setup_lts.x | sudo -E bash -

sudo apt install -y nodejs
node -v
npm -v
sudo apt install git 
sudo apt install software-properties-common -y
sudo add-apt-repository ppa:deadsnakes/ppa -y
sudo apt update
sudo apt install python3 -y

sudo apt update
sudo apt install build-essential cmake -y

sudo apt update
sudo apt install freecad
sudo apt install python3-pip
